machine:
  type: controlplane
  network:
    hostname: k8s-0
    interfaces:
      - interface: eno1
        addresses:
          - 10.1.20.10/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.1.20.1
        dhcp: false
        mtu: 1500
        vip:
          ip: 10.1.20.120
        vlans:
          - vlanId: 40
    nameservers:
      - 10.1.20.41
  install:
    image: factory.talos.dev/installer/a0b4991356a74f14e884e8b9192ac3864397894fa5223317098564de42ce0a0f:{{ ENV.TALOS_VERSION }}
