machine:
  type: worker
  network:
    hostname: k8s-5
    interfaces:
      - interface: eno1
        addresses:
          - 10.1.20.15/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.1.20.1
        dhcp: false
        mtu: 1500
        vlans:
          - vlanId: 40
            addresses:
              - 10.1.40.15/24
    nameservers:
      - 10.1.20.41
  install:
    image: factory.talos.dev/installer/5fdf4b88d1e0a92f43867d783072ef526a290342062880015a34cec2423257bb:{{ ENV.TALOS_VERSION }}

