machine:
  type: worker
  network:
    hostname: k8s-5
    interfaces:
      - interface: eth0
        deviceSelector:
          hardwareAddr: 10:62:e5:1a:80:18
        dhcp: true
        vlans:
          - vlanId: 40
            dhcp: false
            mtu: 1500
  install:
    image: factory.talos.dev/installer/a0b4991356a74f14e884e8b9192ac3864397894fa5223317098564de42ce0a0f:{{ ENV.TALOS_VERSION }}

