machine:
  type: controlplane
  network:
    hostname: k8s-1
    interfaces:
      - interface: eth0
        deviceSelector:
          hardwareAddr: 18:60:24:27:27:a7
        dhcp: true
        vip:
          ip: 10.1.20.120
        vlans:
          - vlanId: 40
            dhcp: false
            mtu: 1500
            dhcp: false
  install:
    image: factory.talos.dev/installer/a0b4991356a74f14e884e8b9192ac3864397894fa5223317098564de42ce0a0f:{{ ENV.TALOS_VERSION }}
