machine:
  type: worker
  network:
    hostname: k8s-3
    interfaces:
      - interface: eth0
        addresses:
          - 10.1.20.13/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.1.20.1
        dhcp: false
        vlans:
          - vlanId: 40
            mtu: 1500
            addresses:
              - "10.1.40.13/24"
            routes:
              - network: 0.0.0.0/0
                gateway: 10.1.40.1
    nameservers:
      - 10.1.20.41
    disableSearchDomain: true
  install:
    image: factory.talos.dev/installer/1be6923a14b1498bc2930c02b286cbf9d98764032fb6a8659b8fce7c1476262b:{{ ENV.TALOS_VERSION }}
