machine:
  type: controlplane
  network:
    hostname: k8s-1
    interfaces:
      - interface: eno1
        dhcp: false
        addresses:
          - 10.1.20.11/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.1.20.1
        vip:
          ip: 10.1.20.120
        vlans:
          - vlanId: 40
            dhcp: false
            mtu: 1500
    nameservers:
      - 10.1.20.41
  install:
    image: factory.talos.dev/installer/9aecd1fecc916a37dd0fffaa6be113ad9ec4ff9fb6371a5dbb33af70ec2cb0de:{{ ENV.TALOS_VERSION }}
